html{
  margin:0;
  padding:0;
  height:100%; 
}

 body { 
  margin: 0 !important;
  padding: 0 !important;

}

html, body {
  overflow: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.top {
  background-color: #ffc107!important;
  height:100px;
}


.intop {
  background-color: #343a40!important;
  width: 20%;
  height: 100px;
  color: white;
  text-align: center;
  font-size: 40px;
}

.topleft {
  float: right;
  background-color: #343a40!important;
  width: 20%;
  height: 100px;
  color: white;
  text-align: center;
  font-size: 40px;
}

.App {
  text-align: center;
  margin: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
}

.App-link {
  color: #61dafb;
}

main {
  height: 100%;
}
.main {
  padding-left: 30%;
  width: 50%;
  padding-top: 50px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
