header {
    background-color: rgb(143, 143, 143);
    width: 20%;
    height: 1000px;
    float: left;
}

header ul {
    padding: 0;
}

header ul li {
   padding-left: 30px;
}

header ul li {
    list-style-type: none;
    text-decoration: none;
    color:#6c757d!important;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 22px;
}

header .link {
    color:#aeafb1!important;
    text-decoration: none;
    font-weight: bold;
}
